.App-title {
  width: 500px;
  position: absolute;
  font-size: 2.6rem;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  background: limegreen;
  padding: 10px 0;
  top: -30px;
  left: calc(50% - 250px);
}
.InterFace {
  margin: 3rem 5px 0;
  border-radius: 40px;
  background: #2d3b4b;
  display: flex;
  padding: 3rem 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.process-container {
  margin: 1rem 0.5rem;
  width: 11%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2c2933;
  border-radius: 15px;
  padding: 1rem;
  border: 1px hidden;
}
.process-container:hover {
  border: 1px solid white;
  background: #38363d;
}
.process-imgcontainer {
  width: 100%;
}
.process-imgcontainer img {
  width: 90%;
  height: auto;
  border-radius: 3px;
  border: 1px solid white;
}
.process-info {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.process-info__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}
.process-container__name_cn {
  font-size: 1rem;

  color: yellow;
  padding: 0.3rem 0;
}

.process-container__name_en {
  font-size: 1rem;
  color: lightgreen;
  padding: 0.3rem 0;
}
.process-info__lightContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.process-info__light {
  display: flex;
  justify-content: flex-start;
  width: 5rem;
}
.process-info__light-green {
  background: green;
  border-radius: 3px;
  width: 2rem;
  height: 1rem;
  margin: 3px;
}
.process-info__light-yellow {
  background: yellow;
  border-radius: 3px;
  width: 2rem;
  height: 1rem;
  margin: 3px;
}
.process-info__light-red {
  background: red;
  border-radius: 3px;
  width: 2rem;
  height: 1rem;
  margin: 3px;
}
.process-info__light-spec {
  color: white;
  margin-left: 3px;
  display: flex;
  justify-content: center;
}
