.SecondPageContainer {
  display: flex;
  flex-direction: column;
  background: #2d3b4b;
  min-height: 100vh;
}
.SecondPagePrograssBar-overview {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.SecondPagePrograssBar-overview__monitor {
  width: 66%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #2c2933;
  margin: 0 5px;
  position: relative;
}
.SecondPagePrograssBar-overview__monitor-pie {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.SecondPagePrograssBar-overview__monitor-lineboxes {
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.SecondPagePrograssBar-overview__warning {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #2c2933;
  margin: 0 5px;
  position: relative;
}
.SecondPagePrograssBar-overview__title {
  position: absolute;
  width: 100%;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  top: 8px;
  text-align: center;
}
.SecondPagePrograssBar-section1 {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.PrograssPie-Container {
  width: 24%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #2c2933;
  margin: 0 5px;
}
.PrograssPie-title {
  position: absolute;
  width: 100%;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  top: 8px;
  text-align: center;
}

.PrograssPie-innerTitle {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}
.PrograssPie-innerTitle__part1 {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  text-align: center;
}
.PrograssPie-innerTitle__part2 {
  font-size: 1rem;
  color: lightgreen;
  margin-top: 10px;
}
.PrograssPie-innerTitle__part3 {
  font-size: 1rem;
  color: lightgreen;
  margin-top: 10px;
}
.SecondPagePrograssBar-section2 {
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.SecondPagePrograssBar-section2__part {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #2c2933;
  margin: 0 5px;
  position: relative;
}
.SecondPagePrograssBar-section2__part-title {
  position: absolute;
  width: 100%;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  top: 8px;
  text-align: center;
}
.SecondPagePrograssBar-section3 {
  height: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}
